@using EurovisionTotalizer.API.Views
@{
    ViewBag.Title = "Pagrindinis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pasirinkite meniu punktą</h1>
<p>Naudokite kairįjį meniu norėdami atidaryti puslapius.</p>
