@using EurovisionTotalizer.API.Views
@{
    ViewBag.Title = "Spėjimų lentelės";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Spėjimų lentelės</h1>
<p>Čia bus spėjimų lentelės ir rezultatai.</p>
